Node-RED flow.txt
[{"id":"364ccae9.01af66","type":"tab","label":"LCD information display","disabled":false,"info":""},{"id":"3016842b.46ecbc","type":"exec","z":"364ccae9.01af66","command":"(uci get network.lan.ipaddr ; uci get network.lan.netmask ; (cat /tmp/dhcp.leases | wc -w)) | tr  \"\\n\\r\" \";\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get network data","x":550,"y":200,"wires":[["69130d0e.be5af4"],[],[]]},{"id":"4350968f.c02e38","type":"exec","z":"364ccae9.01af66","command":"(cd /proc ; uci get system.@system[0].hostname ; (cat uptime | cut -d' ' -f1) ; (cat meminfo | grep 'MemFree:' | tr -d ' ' | cut -d':' -f2 | tr -d 'kB'); cd device-tree/ ; (cat model | cut -d' ' -f2-)) | tr  \"\\n\\r\" \"; \"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get system data","x":540,"y":380,"wires":[["21596d11.04dd12"],[],[]]},{"id":"3a89591a.2bdca6","type":"mqtt in","z":"364ccae9.01af66","name":"","topic":"node/turris-mon:0/get/system/info","qos":"2","datatype":"auto","broker":"23774e14.c7e312","x":210,"y":380,"wires":[["4350968f.c02e38"]]},{"id":"64df0acf.4c0de4","type":"mqtt out","z":"364ccae9.01af66","name":"","topic":"node/turris-mon:0/update/-/system/info","qos":"","retain":"","broker":"23774e14.c7e312","x":990,"y":360,"wires":[]},{"id":"21596d11.04dd12","type":"function","z":"364ccae9.01af66","name":"","func":"msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":360,"wires":[["64df0acf.4c0de4"]]},{"id":"273e655c.6c0b6a","type":"mqtt out","z":"364ccae9.01af66","name":"","topic":"node/turris-mon:0/update/-/network/info","qos":"","retain":"","broker":"23774e14.c7e312","x":1000,"y":180,"wires":[]},{"id":"69130d0e.be5af4","type":"function","z":"364ccae9.01af66","name":"","func":"msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":180,"wires":[["273e655c.6c0b6a"]]},{"id":"d5e1cf16.5d511","type":"mqtt in","z":"364ccae9.01af66","name":"","topic":"node/turris-mon:0/get/network/info","qos":"2","datatype":"auto","broker":"23774e14.c7e312","x":220,"y":200,"wires":[["3016842b.46ecbc"]]},{"id":"802a7399.a94d","type":"exec","z":"364ccae9.01af66","command":"(uci get wireless.@wifi-iface[1].ssid ; uci get wireless.@wifi-iface[1].encryption ; uci get wireless.@wifi-iface[1].key) | tr  \"\\n\\r\" \";\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Get wifi data","x":510,"y":640,"wires":[["70586cae.122af4"],[],[]]},{"id":"129babf2.ae8cb4","type":"mqtt out","z":"364ccae9.01af66","name":"","topic":"node/turris-mon:0/qr/-/chng/code","qos":"","retain":"","broker":"23774e14.c7e312","x":1050,"y":620,"wires":[]},{"id":"7596a943.9efab8","type":"mqtt in","z":"364ccae9.01af66","name":"","topic":"node/turris-mon:0/get/qr/info","qos":"2","datatype":"auto","broker":"23774e14.c7e312","x":200,"y":640,"wires":[["802a7399.a94d"]]},{"id":"70586cae.122af4","type":"function","z":"364ccae9.01af66","name":"","func":"msg.payload = \"\\\"\" + msg.payload + \"\\\"\";\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":620,"wires":[["129babf2.ae8cb4"]]},{"id":"555a9916.3a5638","type":"mqtt in","z":"364ccae9.01af66","name":"","topic":"node/turris-mon:0/reboot/-/device","qos":"2","datatype":"auto","broker":"23774e14.c7e312","x":210,"y":720,"wires":[["91a6cf1.67bf33"]]},{"id":"91a6cf1.67bf33","type":"exec","z":"364ccae9.01af66","command":"reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":520,"y":720,"wires":[[],[],[]]},{"id":"23774e14.c7e312","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]